## Import

In [2]:
import torch

import pandas as pd
import numpy as np

from sklearn.covariance import EllipticEnvelope
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings(action='ignore')

In [3]:
import os

os.chdir('..')
datapath = os.getcwd()+'\\data'

In [4]:
# from google.colab import drive
# drive.mount('/content/drive')

## Data Load

In [3]:
# !unzip '/content/drive/MyDrive/Dacon/신용카드 사기 거래 탐지 AI 경진대회/data/open.zip'

Archive:  /content/drive/MyDrive/Dacon/신용카드 사기 거래 탐지 AI 경진대회/data/open.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv
  inflating: val.csv

In [5]:
train_df = pd.read_csv(datapath + './train.csv') # Train
val_df = pd.read_csv(datapath + './val.csv') # Validation

## Validation set 사기 거래 비율
#### (*) Validation set의 사기 거래 비율이 다른 데이터집합에서도 비슷하게 발생할 것이라고 가정

In [6]:
val_normal, val_fraud = val_df['Class'].value_counts()
val_contamination = val_fraud / val_normal
print(f'Validation contamination : [{val_contamination}]')

Validation contamination : [0.0010551491277433877]

## Model Define & Fit

In [7]:
# Train dataset은 Label이 존재하지 않음
train_x = train_df.drop(columns=['ID']) # Input Data

In [8]:
# 가설 설정 : Train dataset도 Validation dataset과 동일한 비율로 사기거래가 발생 했을 것이다. -> model parameter : contamination=val_contamination(=0.001055) 적용
model = EllipticEnvelope(support_fraction = 0.994, contamination = val_contamination, random_state = 42)
model.fit(train_x)

EllipticEnvelope(contamination=0.0010551491277433877, random_state=42,
                 support_fraction=0.994)

In [18]:
val_x = val_df.drop(columns=['ID', 'Class'])

prob = model.score_samples(val_x)
prob = torch.tensor(prob, dtype = torch.float)

In [21]:
topk_indices = torch.topk(prob, k = 29, largest = False).indices

In [27]:
topk_indices

tensor([15054, 15345,  4396, 15030, 15029, 15027,  4267,  1196,  1201,   836,
         1547,  1210,  1047,  3055, 15425, 24358, 25042,  7702, 24742, 15306,
          677, 12797,   641,  7000, 27998, 25504, 12377, 13706, 24110])

In [80]:
pre = model.predict(val_x)
score = model.score_samples(val_x)

In [88]:
prob = pd.DataFrame((pre, score)).T
prob.columns = ['pre','score']

In [100]:
len(prob[prob['pre']==-1])

26

In [96]:
prob[prob['pre']==-1].sort_values(by='score').index

Int64Index([15054, 15345,  4396, 15030, 15029, 15027,  4267,  1196,  1201,
              836,  1547,  1210,  1047,  3055, 15425, 24358, 25042,  7702,
            24742, 15306,   677, 12797,   641,  7000, 27998, 25504],
           dtype='int64')

In [110]:
li_pr=list(prob.sort_values(by='score')[:29].index)
li_pr.sort()

In [111]:
li_pr

[641,
 677,
 836,
 1047,
 1196,
 1201,
 1210,
 1547,
 3055,
 4267,
 4396,
 7000,
 7702,
 12377,
 12797,
 13706,
 15027,
 15029,
 15030,
 15054,
 15306,
 15345,
 15425,
 24110,
 24358,
 24742,
 25042,
 25504,
 27998]

In [102]:
def get_pred_label(model, x, k):
  prob = model.score_samples(x)
  prob = torch.tensor(prob, dtype = torch.float)
  topk_indices = torch.topk(prob, k = k, largest = False).indices

  pred = torch.zeros(len(x), dtype = torch.long)
  pred[topk_indices] = 1
  return pred.tolist(), prob.tolist()

val_x = val_df.drop(columns=['ID', 'Class']) # Input Data
val_y = val_df['Class'] # Label

val_pred, val_prob = get_pred_label(model, val_x, 29)
val_score = f1_score(val_y, val_pred, average='macro')
print(f'Validation F1 Score : [{val_score}]')
print(classification_report(val_y, val_pred))
tn, fn, fp, tp = confusion_matrix(val_y, val_pred).ravel()
print('tp : ', tp, ', fp : ', fp, ', tn : ', tn, ', fn : ', fn)

Validation F1 Score : [0.9236496787663914]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     28432
           1       0.86      0.83      0.85        30

    accuracy                           1.00     28462
   macro avg       0.93      0.92      0.92     28462
weighted avg       1.00      1.00      1.00     28462

tp :  25 , fp :  5 , tn :  28428 , fn :  4

## Inference : Test set

In [9]:
test_df = pd.read_csv('./test.csv') # Train
test_df.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,AAAA0x1,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,1.783274,-0.994983
1,AAAA0x2,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.269825,-0.994983
2,AAAA0x5,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.670579,-0.994960
3,AAAA0x7,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,-0.237686,-0.994937
4,AAAA0xc,0.384978,0.616109,-0.874300,-0.094019,2.924584,3.317027,0.470455,0.538247,-0.558895,...,0.049924,0.238422,0.009130,0.996710,-0.767315,-0.492208,0.042472,-0.054337,-0.167819,-0.994866

In [10]:
test_x = test_df.drop(columns=['ID'])

In [11]:
test_pred, _ = get_pred_label(model, test_x, 318)
print('n_fraud : ', sum(test_pred))

n_fraud :  318

## Submission

In [12]:
submit = pd.read_csv('./sample_submission.csv')
submit.head()

        ID  Class
0  AAAA0x1      1
1  AAAA0x2      1
2  AAAA0x5      1
3  AAAA0x7      1
4  AAAA0xc      1

In [13]:
submit['Class'] = test_pred
submit.to_csv('/content/submit_EllipticEnvelope.csv', index=False)

In [14]:
pd.read_csv('/content/submit_EllipticEnvelope.csv')['Class'].sum()

318